<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>스마트출조</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fishkingapp.nativeSmart</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smartfishing</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoee9c51741207ea7cfd8c1691031b6adc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>KAKAO_APP_KEY</key>
	<string>ee9c51741207ea7cfd8c1691031b6adc</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaoee9c51741207ea7cfd8c1691031b6adc</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>kakaokompassauth</string>
		<string>ee9c51741207ea7cfd8c1691031b6adc</string>
		<string>bandapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>AppleMusic</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location Always And When In Use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location Always</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location When In Use</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PhotoLibrary</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PhotoLibrary</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
