<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="localhost:8082/v1/api/post" method="post" enctype="multipart/form-data">
        id<input type="text" name="id"/><br>
        boardId<input type="text" name="boardId"/><br>
        channelType<input type="text" name="channelType"/><br>
        title <input type="text" name="title"/><br>
        content <input type="text" name="content"/><br>
        authorName<input type="text" name="authorName"/><br>
        returnType <input type="text" name="returnType"/><br>
        returnNoAddress<input type="text" name="returnNoAddress"/><br>
        createdAt <input type="text" name="createdAt"/><br>
        likeCount<input type="text" name="likeCount"/><br>
        isSecret<input type="text" name="isSecret"/><br>
        createdById<input type="text" name="createdById"/><br>
        modifiedById<input type="text" name="modifiedById"/><br>

        file<input type="file" name="file"/><br>

        <input type="submit" value="submit"/>
    </form>

    <form action="localhost:8082/v1/api/hello222" method="get">
        <input type="submit" value="submit"/>
    </form>
</body>
</html>